appdirs
bcrypt
black
cffi
click
colorama
dnspython
email-validator
Flask
Flask-Login
Flask-WTF1
greenlet
idnatsdangerous
Jinja
MarkupSafe
mypy-extensions
pathspec
pycparserregex
six
SQLAlchemy
tomli
Werkzeug
WTForms
authlib
Flask-RESTful