.card-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card {
  background-color: var(--blender-even-row, var(--nav-bg-color));
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 1;
}

.card-header {
  background-color: var(--blender-panel-header, var(--bg-color));
  border: 1px solid var(--blender-tab-outline, var(--border-color));
  flex-shrink: 0;
}

.card-body {
  background-color: var(--blender-panel-background, var(--bg-color));
  border: 1px solid var(--blender-tab-outline, var(--border-color));
  overflow-y: auto;
  flex: 1;
}