
th {
    position: relative;
}

.context-menu {
    display: none;
    position: absolute;
    background-color: rgb(51, 51, 51);
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    color: white;
}
.context-menu button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
}
.context-menu button:hover {
    background-color: #f0f0f0;
    color: black;
}

/* Context menu button is clicked, should zoom into object and change color */
.context-menu button:active {
    background-color: #ff9634;
    color: rgba(37, 51, 77, 0.466);
    /* zoom */
    transform: scale(0.9);
}
