:root {
  --fontSize: 14px;
}
body {
  margin: 0;
  padding: 0;
}

.table-container {
  margin-top: 1em;
  overflow-x: auto;
  position: relative;
}

#cost-items {
  height: calc(100vh - var(--margin-small));
}


.table-scrollable-body {
  max-height: 70vh;
  overflow-y: auto;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
  user-select: none;
  table-layout: fixed;
  font-size: var(--fontSize);
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #727272;
  font-size: larger;
}

tbody {
  width: 100%;
}

td,
th {
  padding: 0;
  margin: 0;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  text-align: center;
  border-bottom: 0;
  border-top: 0;
}

th {
  border-bottom: 1px solid #ddd;
}

td {
  align-items: center;
}

td,
th {
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* first td of a row, must be flex */
td:first-child {
  display: flex;
  align-items: center;
}

.nested {
  display: none;
}

.expand-collapse {
  cursor: pointer;
}

.caret-cell {
  border: none;
  background: none;
  padding: 0;
}

input,
select {
  background-color: var(--blender-button-background, var(--bg-color));
  color: var(--blender-button-text, var(--text-color));
  border-color: var(--blender-button-border, var(--border-color));
  transition: filter 0.2s ease;
  border-radius: 6px;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  transition: border-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  height: inherit;
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-size: var(--fontSize);
  min-width: 50px; /* Minimum width to prevent it from becoming too small */
}

input:focus {
  border-color: #28a745;
  outline: none;
  box-shadow: 0 0 0 3px #28a745;
}

#cost-items tr:hover,
.highlighted {
  background-color: #ffb936;
  color: black;
}

.highlight {
  background-color: #ffb936;
  color: black;
}

.cost-values-table {
  width: 100%;
  border-collapse: collapse;
}

.cost-values-table th,
.cost-values-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.cost-values-table th {
  background-color: #444444;
  text-align: center;
}

/* Responsive Styles */
@media (max-width: 768px) {
  table {
    font-size: 12px;
  }

  td,
  th {
    padding: 4px;
  }

  input {
    padding: 2px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  table {
    font-size: 10px;
  }

  td,
  th {
    padding: 2px;
  }

  input {
    padding: 1px;
    font-size: 10px;
  }
}