<!DOCTYPE html>
<html lang="en" class="blender">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BlenderBIM Web UI</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/cost.css"
      id="index-stylesheet"
    />
    <link
      rel="stylesheet"
      id="tabulator-stylesheet"
      href="https://unpkg.com/tabulator-tables/dist/css/tabulator_site_dark.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.socket.io/4.0.0/socket.io.min.js"
    ></script>
    <script>
      var SOCKET_PORT = {{port}};
    </script>
    <script type="module" defer src="./static/js/cost.js"></script>
  </head>
  <body>
    <nav>
      <img
        src="https://bonsaibim.org/assets/images/blender/blender-logo.png"
        alt="Logo"
        class="logo"
      />
      <ul>
        <li>
          <a href="/"><i class="fa-solid fa-table"></i> Schedules</a>
        </li>
        <li>
          <a href="/costing" class="active"
            ><i class="fa-solid fa-money-bill-trend-up"></i> Costing</a
          >
        </li>
        <li>
          <a href="/sequencing"
            ><i class="fa-solid fa-chart-gantt"></i> Construction Sequencing</a
          >
        </li>
        <li>
          <a href="/documentation"
            ><i class="fa-solid fa-images"></i> Documentation</a
          >
        </li>
        <li>
          <a><i class="fa-solid fa-camera"></i> BCF Topics</a>
        </li>
        <li>
          <a><i class="fa-solid fa-square-check"></i> IDS Audits</a>
        </li>
        <li>
          <a><i class="fa-solid fa-hotel"></i> Facility Management</a>
        </li>
      </ul>
      <button id="toggle-theme" onclick="toggleTheme()">
        <i class="fas fa-moon"></i>
      </button>
      <div id="connected-list-div">
        <button id="show-connected-button" onclick="toggleClientList()">
          Connected Blenders:
          <span id="blender-count">0</span>
          <i class="fas fa-chevron-down"></i>
        </button>
        <div id="client-list"></div>
      </div>
    </nav>
    <div class="row-container">
      <div id="ribbon-bar" class="ribbon-bar">
        <button
          id="add-cost-schedule"
          class="action-button fas fa-plus"
          data-tooltip="Add New Schedule"
        ></button>
      </div>
    </div>
    <div id="cost-schedules" class="row-container"></div>
    <div id="cost-items" class="cost-tables"></div>
    <footer>
      <p>BlenderBIM Version: {{version}}</p>
    </footer>
  </body>
</html>
