<!DOCTYPE html>
<html lang="en" class="blender">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bonsai Web UI</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="/static/images/favicon-blender.png?v={{v}}"
    />
    <link rel="stylesheet" href="/static/css/index.css?v={{v}}" id="index-stylesheet" />
    <link
      rel="stylesheet"
      id="tabulator-stylesheet"
      href="/static/css/tabulator_site_dark.min.css?v={{v}}"
    />
    <link
      rel="stylesheet"
      href="/static/css/all.min.css?v={{v}}"
    />
    <script
      type="text/javascript"
      src="/static/js/jquery.min.js?v={{v}}"
    ></script>
    <script
      type="text/javascript"
      src="/static/js/tabulator.min.js?v={{v}}"
    ></script>
    <script
      type="text/javascript"
      src="/static/js/socket.io.min.js?v={{v}}"
    ></script>
    <script>
      var SOCKET_PORT = {{port}};
    </script>
    <script defer src="./static/js/index.js?v={{v}}"></script>
  </head>
  <body>
    <nav>
      <img
        src="/static/images/blender-logo.png?v={{v}}"
        alt="Logo"
        class="logo"
      />
      <ul>
        <li>
          <a href="/" class="active"
            ><i class="fa-solid fa-table"></i> Schedules</a
          >
        </li>
        <li>
          <a href="/costing"
            ><i class="fa-solid fa-exclamation-triangle"></i>Costing</a
          >
        </li>
        <li>
          <a href="/sequencing"
            ><i class="fa-solid fa-chart-gantt"></i> Construction Sequencing</a
          >
        </li>
        <li>
          <a href="/documentation"
            ><i class="fa-solid fa-images"></i> Documentation</a
          >
        </li>
        <li>
          <a><i class="fa-solid fa-camera"></i> BCF Topics</a>
        </li>
        <li>
          <a><i class="fa-solid fa-square-check"></i> IDS Audits</a>
        </li>
        <li>
          <a><i class="fa-solid fa-hotel"></i> Facility Management</a>
        </li>
      </ul>
      <button id="toggle-theme" onclick="toggleTheme()">
        <i class="fas fa-moon"></i>
      </button>
    </nav>
    <div id="connected-list-div">
      <button id="show-connected-button" onclick="toggleClientList()">
        Connected Blenders:
        <span id="blender-count">0</span>
        <i class="fas fa-chevron-down"></i>
      </button>
      <div id="client-list"></div>
    </div>
    <div id="container"></div>
    <footer>
      <p>Bonsai Version: {{version}}</p>
    </footer>
  </body>
</html>
