# Dependency and build folders created by the build scripts
/_deps/
/_build-vs*-x*/
/_deps-vs*-x*-installed/
/_installed-vs*-x*/
/build/

# output directories
/cmake/out/
/src/examples/out/
/src/ifcmax/out/
/src/ifcwrap/out/
/src/qtviewer/out/

/win/BuildDepsCache*.txt

# General Python residue
__pycache__
*.py.bak

# Visual Studio Code files
.vscode
.vs

# PyCharm files
.idea

# Docs
/docs/cpp-api/output

# gettext binary translation files
*.mo

# Vim
*.swp
*.swo

# Flask
instance/*
!instance/.gitignore
.webassets-cache
.env
*.db

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

# pipenv
Pipfile
Pipfile.lock

# Database
*.db

# PyTest
htmlcov
.coverage

# Blender
*.blend1

# Sphinx
_build/

# IDS Docs
src/ifcopenshell-python/test/build

# tox cache
.tox/
*.egg-info/

# mypy cache
.mypy_cache

# bonsai i18n
src/bonsai/bonsai/translations.py

# bonsai test temp files
src/bonsai/test/files/temp
src/bonsai/test/files/basic.ifc.cache.blend
src/bonsai/test/files/basic.ifc.cache.sqlite

src/bonsai/drawings
src/bonsai/layouts

# ifcopenshell swig and compiled files
src/ifcopenshell-python/ifcopenshell/_ifcopenshell_wrapper.so
src/ifcopenshell-python/ifcopenshell/ifcopenshell_wrapper.py

# apple
.DS_Store

# clangd config
.clangd
# clangd cache
.cache

# Brickschema
src/bonsai/bonsai/bim/schema/Brick.ttl
bonsaiDecoratorForLoads.code-workspace
dev_environment.bat
