[submodule "test/input"]
	path = test/input
	url = https://github.com/IfcOpenShell/files
	ignore = dirty
[submodule "src/ifcopenshell-python/ifcopenshell/mvd"]
	path = src/ifcopenshell-python/ifcopenshell/mvd
	url = https://github.com/opensourceBIM/python-mvdxml/
[submodule "src/ifcopenshell-python/test/Sample-BIM-Files"]
	path = src/ifcopenshell-python/test/Sample-BIM-Files
	url = https://github.com/IfcOpenShell/ids-test-files
[submodule "docs/cpp-api/assets/doxygen-awesome-css"]
	path = docs/cpp-api/assets/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "src/ifcopenshell-python/ifcopenshell/simple_spf"]
	path = src/ifcopenshell-python/ifcopenshell/simple_spf
	url = https://github.com/IfcOpenShell/step-file-parser
[submodule "src/pyodide/demo-app/wheels"]
	path = src/pyodide/demo-app/wheels
	url = https://github.com/IfcOpenShell/wasm-wheels
[submodule "src/svgfill/3rdparty/svgpp"]
	path = src/svgfill/3rdparty/svgpp
	url = https://github.com/svgpp/svgpp
