[submodule "test/input"]
	path = test/input
	url = https://github.com/IfcOpenShell/files
	ignore = dirty
[submodule "src/ifcopenshell-python/ifcopenshell/mvd"]
	path = src/ifcopenshell-python/ifcopenshell/mvd
	url = https://github.com/opensourceBIM/python-mvdxml/
[submodule "src/svgfill"]
	path = src/svgfill
	url = https://github.com/IfcOpenShell/svgfill
[submodule "src/ifcopenshell-python/test/Sample-BIM-Files"]
	path = src/ifcopenshell-python/test/Sample-BIM-Files
	url = https://github.com/IfcOpenShell/ids-test-files
[submodule "src/ifcconvert/cityjson"]
	path = src/ifcconvert/cityjson
	url = https://github.com/IfcOpenShell/ifc-to-cityjson
[submodule "docs/cpp-api/assets/doxygen-awesome-css"]
	path = docs/cpp-api/assets/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "src/ifcopenshell-python/ifcopenshell/simple_spf"]
	path = src/ifcopenshell-python/ifcopenshell/simple_spf
	url = https://github.com/IfcOpenShell/step-file-parser
