[submodule "test/input"]
	path = test/input
	url = https://github.com/IfcOpenShell/files
	ignore = dirty
[submodule "src/ifcopenshell-python/ifcopenshell/mvd"]
	path = src/ifcopenshell-python/ifcopenshell/mvd
	url = https://github.com/opensourceBIM/python-mvdxml/
[submodule "src/svgfill"]
	path = src/svgfill
	url = https://github.com/IfcOpenShell/svgfill
[submodule "src/ifcopenshell-python/test/Sample-BIM-Files"]
	path = src/ifcopenshell-python/test/Sample-BIM-Files
	url = https://github.com/IfcOpenShell/ids-test-files