
quickload_model = "D:\Project1.ifc"

["snippets"]
'print all wall ids'  = """# a simple script that iterates over all walls in the current
# model and prints their Globally unique IDs (GUIDS) to the console
# window

for wall in model.by_type("IfcWall"):
    print ("wall with global id: "+str(wall.GlobalId))
"""
'print all properties of current selection'  = """# a simple script that iterates over all IfcPropertySets of the currently
# selected object and prints them to the console
#####################################################################

# check if something is selected
if selection:
    #get the IfcProduct that is stored in the global variable 'selection'
    obj = selection
    for relDefinesByProperties in obj.IsDefinedBy:
         print("[{0}]".format(relDefinesByProperties.RelatingPropertyDefinition.Name))
         for prop in relDefinesByProperties.RelatingPropertyDefinition.HasProperties:
             print ("{:<20} :{}".format(prop.Name,prop.NominalValue.wrappedValue))
         print ("\n")
"""
