:root {
    --font-family: Arial, sans-serif;
    --base-font-size: 16px;
    --margin-tiny: 0.125rem;
    --margin-small: 0.625rem;
    --margin-medium: 1.25rem;
    --margin-large: 2.5rem;
    --padding-tiny: 0.125rem;
    --padding-small: 0.625rem;
    --padding-medium: 1rem;
    --font-size-large: 1.2rem;
    --logo-height: 2.5rem;
    --nav-height: 2.5rem;
}

:root.dark {
    color-scheme: dark;
    --bg-color: #252525;
    --text-color: #e0e0e0;
    --nav-bg-color: #121212;
    --nav-border-color: #25682a;
    --nav-link-color: #fff;
    --nav-link-hover-color: #3fb449;
    --warning-color: #FFDB8F;
    --border-color: #464444;
}

:root.light {
    color-scheme: light;
    --bg-color: #ffffff;
    --text-color: #000000;
    --nav-bg-color: #f8f8f8;
    --nav-border-color: #cccccc;
    --nav-link-color: #000000;
    --nav-link-hover-color: #38a63d;
    --warning-color: #FF4500;
    --border-color: #222;
}

html {
    font-size: var(--base-font-size);
    color: var(--text-color);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    font-family: var(--font-family);
}

#container {
    margin-top: var(--margin-medium);
    margin-left: var(--margin-small);
    margin-right: var(--margin-small);
    margin-bottom: var(--margin-medium);
    height: calc(100vh - var(--nav-height));
    box-sizing: border-box;
    display: flex;
}

h3 {
    margin-top: 0;
}

nav {
    background-color: var(--nav-bg-color);
    height: var(--nav-height);
    padding: var(--padding-medium) 0;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid var(--nav-border-color);
}

nav .logo {
    margin-left: var(--margin-large);
    height: var(--logo-height);
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 0.0625rem;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav ul li {
    margin-right: 3.125rem;
}

nav ul li a {
    text-decoration: none;
    color: var(--nav-link-color);
    font-size: var(--font-size-large);
}

nav ul li a:hover,
nav ul li a.active {
    color: var(--nav-link-hover-color);
}

.warning {
    color: var(--warning-color);
    margin-bottom: var(--margin-small);
    padding: var(--padding-tiny);
    display: none;
}

#toggle-theme {
    border: none;
    background: none;
    cursor: pointer;
    font-size: var(--font-size-large);
    margin-right: var(--margin-medium);
}

#toggle-theme:focus {
    outline: none;
}

#client-list {
    position: absolute;
    top: calc(0 + var(--nav-height));
    overflow-y: auto;
    overflow: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    border: 1px solid var(--table-border-color);
    background-color: var(--nav-bg-color);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    width: auto;
}

#client-list.show {
    opacity: 1;
    visibility: visible;
}

#connected-list-div {
    display: inline-block;
}

.client {
    padding: var(--margin-small);
    border-bottom: 1px solid var(--table-border-color);
    cursor: pointer;
}

.client-details {
    max-height: 0;
    overflow: hidden;
    padding-left: var(--padding-small);
    transition: max-height 0.2s ease-out, padding 0.2s ease-out, opacity 0.1s ease-out;
    background-color: var(--nav-bg-color);
    margin-top: var(--margin-tiny);
    opacity: 0;
}

.client-details.show {
    max-height: none;
    opacity: 1;
}

.client-detail {
    border-bottom: 1px solid var(--table-border-color);
    padding: var(--padding-small);
}

#show-connected-button {
    width: auto;
    background-color: var(--bg-color);
    border: none;
    font-size: var(--base-font-size);
}

#show-connected-button:hover,
.scroll-button:hover {
    cursor: pointer;
}

.scroll-button {
    font-size: var(--base-font-size);
    margin-left: var(--margin-tiny);
    margin-top: var(--margin-small);
}


.left {
    flex: 1;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.right {
    flex: 4;
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}

#svg-container {
    height: 100%;
}

.panel {
    background-color: var(--nav-bg-color);
    border: 1px solid var(--border-color);
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-header,
.card-body {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
    overflow: auto;
}

.card {
    background-color: var(--nav-bg-color);
    overflow: auto;
}

li.svg-name {
    list-style-type: none;
}

#dropdown-menu:focus {
    outline: none;
}

/* remove bootstrap css confilcts */
*,
::after,
::before {
    box-sizing: unset;
}

.btn,
.btn:hover {
    color: var(--nav-link-hover-color);
}