:root {
    color-scheme: dark;
}

body {
    background-color: #252525;
    color: #e0e0e0;
    margin: 0;
    font-family: Arial, sans-serif;
}

#container {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 0;
}

nav {
    background-color: #121212;
    padding: 1em 0;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #25682a;
}

nav .logo {
    margin-left: 40px;
    height: 40px;
    /* Adjust height as needed */
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 1px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav ul li {
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

nav ul li a:hover,
nav ul li a.active {
    color: #3fb449;
}


.table-description {
    margin-bottom: 1rem;
    width: 50%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #464444;
    border: 1px solid #464444;
    border-radius: 0.25rem;
    box-shadow: 0 0 0.7rem rgba(95, 95, 95, 0.4);
    text-align: center;
}

.table-description tr {
    display: table-row;
    border-bottom: 1px solid #464444;
}

.gantt-info {
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
}

.btn {
    margin: 0.5rem;
    font-size: 1rem;
    cursor: pointer;
}

@media print {
    .no-print {
        display: none;
    }
}

/* ------------ Overwriting JSGantt CSS rules ------------ */

div.gantt {
    background-color: #252525;
    color: #c7c7c7;
}

.gantt table {
    border-color: #464444;
    ;
}

.gantt td {
    border-color: #464444;
    ;
}

/* Headings and cell defaults */
.gmajorheading,
.gminorheading,
.gminorheadingwkend,
.gtaskcell,
.gtaskcellcurrent,
.gtaskcellwkend,
.gname,
.ggroupitem,
.gtaskheading {
    background-color: #252525;
    border-color: #464444;
    ;
}

.gtaskheading,
.gname,
.gtaskname,
.gres,
.gdur,
.gcomp,
.gstartdate,
.gplanstartdate,
.gplanenddate,
.gcost,
.gchartlbl,
.gcontainercol,
.genddate {
    color: #c7c7c7;
    border-color: #464444;
    ;
}

.gtaskname>div {
    color: #c7c7c7;
}

.gtaskbarcontainer.gplan,
.gchartlbl.gcontainercol {
    background: #252525;
    border-color: #464444;
}

.gtaskname div,
.gtaskheading div,
.gtaskname span {
    color: #c7c7c7;
}


.gtasklist,
.gadditional {
    border: #464444 1px solid
}

.gchartgrid {
    background-color: #252525;
}

.glistgrid,
.glistlbl {
    background-color: #252525;
    border-color: #464444;
    ;
}

/* .gTaskInfo {
    background-color: #2e2e2e;
    color: #c7c7c7;
    border-color: #c7c7c7;;
} */

/* Dark mode scrollbar */
.frame::-webkit-scrollbar-thumb {
    background-color: #252525;
}

.frame::-webkit-scrollbar-track {
    background-color: #252525;
}

/* Highlight row */
.gitemhighlight td {
    background-color: #009136;
    color: #ffffff;
}

/* Differentiate Group, Milestone and Ordinary task items (applied to row) */
.ggroupitem {
    background-color: #252525;
    font-weight: bold;
    border-color: #464444;
}

.gmileitem,
.glineitem {
    background-color: #252525;
}

/* Task bar caption text styles */
.gmilecaption,
.ggroupcaption,
.gcaption {
    color: #ffffff;
}

/* Task complete %age bar */
.gtaskcomplete {
    background-color: #777777;
}

/* Milestones */
.gmdtop {
    border-bottom: 5px solid #ffffff;
}

.gmdbottom {
    border-top: 5px solid #ffffff;
}

.gfoldercollapse {
    color: #c7c7c7;
    cursor: pointer;
    font-weight: bold;

    font-size: 12px;
    font-family: Courier, "Courier New", monospace;
}

/* Highlight for collapsible row */
.gname.ggroupitem {
    background-color: rgb(75, 75, 75);
}

/* Form label and selected highlighting */
.gformlabel {
    background-color: #2e2e2e;
    color: #c7c7c7;
    border: #4a4a4a 1px solid;
}

span.gformlabel:hover {
    background-color: #3a3a3a;
    border-color: #565656;
}

span.gselected {
    background-color: #565656;
    border-color: #777777;
    color: #ffffff;
}

.gantt-inputtable {
    background-color: #3b3b3b;
    box-sizing: border-box;
    border: 1px solid #000;
    color: #c7c7c7;
}