:root {
    color-scheme: dark;
}

body {
    background-color: #252525;
    color: #e0e0e0;
    margin: 0;
    font-family: Arial, sans-serif;
}

#container {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px
}

.table-container {
    margin-bottom: 40px;
}

.csv-table {
    margin-top: 10px;
}

h3 {
    margin-top: 0;
}

nav {
    background-color: #121212;
    padding: 1em 0;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #25682a;
}

nav .logo {
    margin-left: 40px;
    height: 40px;
    /* Adjust height as needed */
}

nav ul {
    list-style-type: none;
    margin: 0;
    margin-left: 1px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav ul li {
    margin-right: 50px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

nav ul li a:hover,
nav ul li a.active {
    color: #3fb449;
}