body {
    background-color: #2e2e2e;
    /* Dark background color */
    color: #e0e0e0;
    /* Light text color */
    font-family: Arial, sans-serif;
}

#container {
    margin-top: 20px;
    margin-bottom: 20px
}

.table-container {
    margin-bottom: 40px;
    /* Space between tables */
}

.csv-table {
    margin-top: 10px;
}

h3 {
    margin-top: 0;
}