body {
    background-color: #2e2e2e;
    /* Dark background color */
    color: #e0e0e0;
    /* Light text color */
    font-family: Arial, sans-serif;
}

#messages {
    margin: 20px;
}

.message {
    background-color: #3c3c3c;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #ffffff;
}

.csv-table {
    margin-top: 20px;
}