beautifulsoup4
cjio >=0.8, <0.10
deepdiff
docutils
flask
isodate
jinja2
lark
meshio
mysql-connector-python
networkx
numpy
odfpy
openpyxl
pandas
psutil
pydantic
PyP6Xer
pystache
pytest
python-dateutil
requests
scikit-learn
shapely
tabulate
toposort
typing-extensions
typst
xlsxwriter
xmlschema
xsdata
