<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Client</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/static/css/drawings.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdn.socket.io/4.0.0/socket.io.min.js"
    ></script>
    <script>
      var SOCKET_PORT = {{port}};
    </script>
    <script defer src="./static/js/drawings.js"></script>
  </head>
  <body>
    <nav>
      <img
        src="https://blenderbim.org/assets/images/blender/blender-logo.png"
        alt="Logo"
        class="logo"
      />
      <ul>
        <li><a href="/">IFC Data</a></li>
        <li><a href="/gantt">Gantt Chart</a></li>
        <li><a href="/drawings" class="active">Drawings</a></li>
      </ul>
      <button id="toggle-theme" onclick="toggleTheme()">
        <i class="fas fa-moon"></i>
      </button>
    </nav>
    <div id="connected-list-div">
      <button id="show-connected-button" onclick="toggleClientList()">
        Connected Blenders:
        <span id="blender-count">0</span>
        <i class="fas fa-chevron-down"></i>
      </button>
      <div id="client-list"></div>
    </div>
    <div class="container-fluid d-flex" id="container">
      <div class="col-2 left">
        <!-- Dropdown menu -->
        <div class="dropdown mb-3">
          <label for="dropdown-menu">IFC File</label>
          <select class="p-0 pl-2" id="dropdown-menu">
            <!-- IFC files will be dynamically populated here -->
            <option value="" selected disabled hidden>Select IFC File</option>
          </select>
        </div>
        <!-- Panel with sub-panels -->
        <div class="panel">
          <div id="accordion">
            <div class="card pb-2">
              <div class="card-header overflow-hidden" id="headingOne">
                <button
                  class="btn p-0 w-100 text-left"
                  data-toggle="collapse"
                  data-target="#collapseOne"
                >
                  Drawings
                </button>
              </div>

              <div id="collapseOne" class="collapse show">
                <div class="card-body">
                  <div class="sub-panel" id="sub-panel-1">
                    <label>Item 1</label>
                    <label>Item 2</label>
                    <label>Item 3</label>
                    <!-- Drawings will be dynamically populated here -->
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header overflow-hidden" id="headingTwo">
                <button
                  class="btn p-0 w-100 text-left"
                  data-toggle="collapse"
                  data-target="#collapseTwo"
                >
                  Sheets
                </button>
              </div>
              <div id="collapseTwo" class="collapse show">
                <div class="card-body">
                  <ul class="sub-panel" id="sub-panel-2">
                    <!-- Sheets will be dynamically populated here -->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10 right p-3">
        <div id="svg-container"></div>
      </div>
    </div>
  </body>
</html>
