<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Client</title>
    <link rel="stylesheet" type="text/css" href="/jsgantt/jsgantt.css" />
    <link rel="stylesheet" href="/static/css/gantt.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.socket.io/4.0.0/socket.io.min.js"
    ></script>
    <script type="text/javascript" src="./jsgantt/jsgantt.js"></script>
    <script>
      var SOCKET_PORT = {{port}};
    </script>
    <script defer src="./static/js/gantt.js"></script>
  </head>
  <body>
    <nav class="no-print">
      <img
        src="https://blenderbim.org/assets/images/blender/blender-logo.png"
        alt="Logo"
        class="logo"
      />
      <ul>
        <li><a href="/">IFC Data</a></li>
        <li><a href="/gantt" class="active">Gantt Chart</a></li>
      </ul>
      <button id="toggle-theme" onclick="toggleTheme()">
        <i class="fas fa-moon"></i>
      </button>
    </nav>
    <div id="connected-list-div">
      <button id="show-connected-button" onclick="toggleClientList()">
        Connected Blenders:
        <span id="blender-count">0</span>
        <i class="fas fa-chevron-down"></i>
      </button>
      <div id="client-list"></div>
    </div>
    <div id="container"></div>
  </body>
</html>
