<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Client</title>
    <link rel="stylesheet" href="/static/css/index.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/tabulator-tables/dist/css/tabulator_site_dark.min.css"
    />
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.6.0.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/tabulator-tables/dist/js/tabulator.min.js"
    ></script>
    <script
      type="text/javascript"
      src="https://cdn.socket.io/4.0.0/socket.io.min.js"
    ></script>
    <script>
      var SOCKET_PORT = {{port}};
    </script>
    <script defer src="./static/js/index.js"></script>
  </head>
  <body>
    <nav>
      <img src="https://blenderbim.org/assets/images/blender/blender-logo.png" alt="Logo" class="logo" />
      <ul>
        <li><a href="/" class="active">IFC Data</a></li>
        <li><a href="/gantt">Gantt Chart</a></li>
      </ul>
      <div class="bottom-bar"></div>
    </nav>
    <div id="container"></div>
  </body>
</html>
