@import url("./shared.css");
@import url("./components/card.css");
@import url("./components/contextMenu.css");
@import url("./components/costTable.css");
@import url("./components/headerBar.css");

.form-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  background-color: #363636;
  padding: 10px;
  /* trext size  */
  font-size: 1.5em;
}

span {
  margin-left: var(--margin-small);
}

.floating-form {
  height: 40vh;
  width: 50vw;
  max-height: 80vh;
  height: auto;
  position: absolute;
  background-color: #363636;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  cursor: move;
  padding: 20px;
  user-select: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.action-button {
  background-color: #28a745;
  border: none;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin: 0.5em;
}

.action-button:hover {
  background-color: #218838;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.settings-menu {
  display: none;
  position: absolute;
  background-color: #363636;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  cursor: move;
  padding: 20px;
  user-select: none;
}
