@import url("./shared.css");
@import url("./components/card.css");
@import url("./components/contextMenu.css");
@import url("./components/headerBar.css");

:root {
  --fontSize: 14px;
  --background-color: #363636;
  --button-background: #28a745;
  --button-hover-background: #218838;
  --highlight-over: #ED5700;
  --scrollbar-track-color: #f1f1f1;
  --scrollbar-thumb-color: #888;
  --scrollbar-thumb-hover-color: #555;
  --padding-small: 5px;
  --padding-medium: 10px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.floating-form {
  width: 50vw;
  max-height: 80vh;
  position: absolute;
  background-color: var(--background-color);
  border: 1px solid black;
  z-index: 9999;
  cursor: move;
  user-select: none;
  padding-bottom: var(--padding-medium);
}

[id^="enable-editing-quantities"].floating-form {
  height: 70vh;
}

.form-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #323936;
  padding: var(--padding-medium);
  font-size: large;
  border-bottom: 1px solid #ddd;
  border-radius: 6px 6px 0 0;
  height: 5%;
  position: relative;
}

.form-container {
  height: 95%;
  padding-left: var(--padding-medium);
  padding-right: var(--padding-medium);
}

.form-section {
  margin-bottom: 1em;
  height: 70%;
}

.form-section h3 {
  margin-bottom: 0.5em;
}

.summary-section {
  margin-top: 1em;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
  text-align: left;
}


.floating-form table tr {
  margin-bottom: 10px;
}

.action-button {
  position:relative;
  background-color: var(--button-background);
  border: none;
  color: #fff;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  transition: background-color 0.3s ease;
  width: fit-content;
  margin: 0.25em;
}

.action-button::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: -30px;
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  font-size: 12px;
}

.action-button:hover::after {
  opacity: 1;
  border-color: var(--highlight-over);
  border-width: 2px;
}

.active-btn {
  background-color: #887821;
  box-shadow: 0 0 10px #887821;
}

.action-button:hover {
  background-color: var(--button-hover-background);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

.settings-menu {
  display: none;
  position: absolute;
  background-color: var(--background-color);
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  cursor: move;
  padding: 20px;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* Edge, IE */
* {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.table-container {
  margin-top: 1em;
  display: flex;
  flex-direction: row;
}

.table-wrapper {
  flex: 1;
  overflow: auto;
  border: 2px solid #254e3c;
  box-shadow: 0 -5px 5px -0 #254e3c;
}

.floating-form .table-container {
  max-height: 80%;
  overflow: auto;
}

#cost-items {
  max-height: calc(100vh - var(--margin-small));
}

[id^="cost-values-form"] table {
  max-height: 50%;
  table-layout: fixed;
}

[id^="selected-products"] .form-container {
  height: 50vh;
}

tr, td, th {
  height: 100%; 
}

table {
  width: 100%;
  border-collapse: collapse;
  user-select: none;
  font-size: var(--fontSize);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 1px solid #ddd;
}

thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #727272;
}

tbody {
  width: 100%;
  height: 100%;
  overflow: auto;
}

td,
th {
  border-right: 1px solid #ddd;
  text-align: center;
  height: 100%;
}

th {
  border-bottom: 1px solid #ddd;
}

td {
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nested {
  display: none;
}

.expand-collapse {
  cursor: pointer;
}

.caret-cell {
  border: none;
  background: none;
  padding: 0;
}

input,
select {
  background-color: var(--blender-button-background, var(--bg-color));
  color: var(--blender-button-text, var(--text-color));
  border-color: var(--blender-button-border, var(--border-color));
  transition: filter 0.2s ease;
  transition: border-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
}

input:focus {
  border-color: #28a745;
  outline: none;
  box-shadow: 0 0 0 3px #28a745;
  color: #ddd;
}

#cost-items input{
  border-radius: 6px;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  font-size: var(--fontSize);
  min-width: 50px;
}

form input, form select {
  border-radius: 6px;
  padding: 3px 4px;
  font-size: 12px;
  line-height: 10px;
  font-size: inherit;
  height: 100%;
  max-height: 30px;
  max-width: 100%;
  box-sizing: border-box;  
}

#cost-items tr:hover,
.highlighted {
  background-color: #28a74657;
}

.highlighted {
  background-color: #28a74657;
}

.cost-values-table {
  width: 100%;
  border-collapse: collapse;
}

.cost-values-table th,
.cost-values-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.cost-values-table th {
  background-color: #444444;
  text-align: center;
}

@media (max-width: 768px) {
  table {
    font-size: 12px;
  }

  td,
  th {
    padding: 2px;
    font-size: 12px;
  }

  input {
    padding: 2px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  table {
    font-size: 10px;
  }

  td,
  th {
    padding: 2px;
  }

  input {
    padding: 1px;
    font-size: 10px;
  }
}

form table {
  max-height: 50%;
}

.subtotal-row {
  background-color: var(--button-hover-background);
  font-weight: bold;
}

[id^="cost-items"] th:nth-child(1),
[id^="cost-items"] td:nth-child(1) {
  width: auto;
}

[id^="cost-items"] th:last-child,
[id^="cost-items"] td:last-child {
  width: fit-content;
  min-width: fit-content;
  max-width: 50%;
}

.actions-column {
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

[id^="cost-items"] tr:hover .actions-column {
  opacity: 1;
}

.clickable-cell:hover {
  border: 2px solid var(--highlight-over);
  cursor: pointer;
}

td {
  position: relative;
}

.append-right {
  right: 0;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
}

i {
  margin-right: 5px;
}

.classificationView {
  border-left: 5px solid #28a745;
  min-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 5px;
  max-height: 400px;
}

.selected {
  border-color: #28a745;
  outline: none;
  box-shadow: 0 0 0 3px #28a745;
  color: #ddd;
}

.selectedClassificationText {
  color: #28a745;
  
}

.back-button {
  margin-bottom: 20px;
}

.back-button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}


.classification-cell{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.classification{
  height: 100%;
}

#column-selector {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  font-family: Arial, sans-serif;
  height: 10vh;
  overflow-y: auto;
}

#column-selector label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

#column-selector input[type="checkbox"] {
  margin-right: 10px;
}

#column-selector label:hover {
  background-color: var(--highlight-over);
}

#column-selector label:last-child {
  margin-bottom: 0;
}