.cut { fill: black; stroke: black; stroke-linecap: 'round'; stroke-width: 0.3px; }
.background { fill: white; stroke: black; stroke-linecap: 'round'; stroke-width: 0.05px; }
.annotation { stroke: black; stroke-linecap: 'round'; stroke-width: 0.05px; }
